# automake/conf
.deps
.libs
*~
missing
ar-lib
ltmain.sh
libIDL.m4
libIDL.spec
libIDL-2.0*.pc
libIDL-config-2
libIDL-zip
libIDL2.info
libtool
texinfo.tex
Makefile
Makefile.in
Makefile.msc
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
INSTALL
install-sh
stamp-*

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
testapp